Easygrants_Web_LSC/Easygrants_Web/Web References/EgSharepointService/EasygrantsSharepointService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://altum.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://altum.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://altum.com/">
      <s:element name="Rename">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OldFolderUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewFolderUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RenameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RenameSoapIn">
    <wsdl:part name="parameters" element="tns:Rename" />
  </wsdl:message>
  <wsdl:message name="RenameSoapOut">
    <wsdl:part name="parameters" element="tns:RenameResponse" />
  </wsdl:message>
  <wsdl:portType name="EasygrantsSharepointServiceSoap">
    <wsdl:operation name="Rename">
      <wsdl:input message="tns:RenameSoapIn" />
      <wsdl:output message="tns:RenameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EasygrantsSharepointServiceSoap" type="tns:EasygrantsSharepointServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Rename">
      <soap:operation soapAction="http://altum.com/Rename" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EasygrantsSharepointServiceSoap12" type="tns:EasygrantsSharepointServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Rename">
      <soap12:operation soapAction="http://altum.com/Rename" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EasygrantsSharepointService">
    <wsdl:port name="EasygrantsSharepointServiceSoap" binding="tns:EasygrantsSharepointServiceSoap">
      <soap:address location="http://altumbackup/_vti_bin/EasygrantsSharepointService.asmx" />
    </wsdl:port>
    <wsdl:port name="EasygrantsSharepointServiceSoap12" binding="tns:EasygrantsSharepointServiceSoap12">
      <soap12:address location="http://altumbackup/_vti_bin/EasygrantsSharepointService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>